<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Site de petites annonces</h1>
      <% if @current_user %>
        <p class="lead text-muted">
          Bienvenue <%= @current_user.login %> ! Sur ce site, vous pouvez consulter les petites annonces de nos membres.
          Vous pouvez également soumettre votre propre annonce. Avant publication,
          cette dernière devra être validée par un administrateur du site.
        </p>
      <% else %>
        <p class="lead text-muted">
          Bienvenue Anonyme ! Sur ce site, vous pouvez consulter les petites annonces de nos membres.
          Vous pouvez également soumettre votre propre annonce. Avant publication,
          cette dernière devra être validée par un administrateur du site.
        </p>
      <% end %>
      <p>
        <a href="#advertisement" class="btn btn-primary my-2">Voir toutes les annonces</a>
        <% if @current_user %>
          <a href="/advertisements/new" class="btn btn-secondary my-2">Soumettre une annonce</a>
        <% end %>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light" id="advertisement">
    <div class="container">

      <div class="row">

      <% if @current_user.try(:role) == "admin" %>
        <% @advertisements_admin.each do |ad| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body" style="height:300px;">
                <p class="card-text"><%= ad.title %></p>
                <em class="card-text" style="overflow:scroll; margin:10px;"><%= ad.content %></em>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p>
                      <a href="/advertisement/<%= ad.id %>" title="Afficher" style="display:block; margin-top:20px;"><button type="button" class="btn btn-sm btn-outline-secondary">Afficher</button></a>
                    </p>
                    <% if ad.try(:state) == "0" %>
                      <p>
                        <em style="margin:20px 0 0 10px; font-size:10px; display:block;" >Annonce non visible par la communauté. Vous devez la valider.</em>
                      </p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <% @advertisements_user.each do |ad| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text"><%= ad.title %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/advertisement/<%= ad.id %>" title="Afficher"><button type="button" class="btn btn-sm btn-outline-secondary">Afficher</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      </div>
    </div>
  </div>

</main>
